footer(class="footer")
    div(class="box footer__content")
        a(class="footer__logo" href="#5")
            img(class="footer__logo-img" src="images/icons/logo-footer.svg" alt="Footer logo")

        include ../../_blocks/social-links/social-links.pug

        div(class="copyright")
            p(class="copyright__text") Разработано
            img(class="copyright__img" src="images/icons/copyright.png" alt="HTML Academy")
