section(class="modal-order")
    div(class="modal-order__content")
        h3(class="modal-order__title") Добавить в корзину
        p(class="modal-order__text") Выберите размер:
        div(class="modal-order__size")
            ul(class="modal-order__size-list")
                li(class="modal-order__size-item selected")
                    p(class="modal-order__size-text") S
                li(class="modal-order__size-item")
                    p(class="modal-order__size-text") M
                li(class="modal-order__size-item")
                    p(class="modal-order__size-text") L
        a(class="button modal-order__link") Добавить
