div(class="product-featured product-featured--indent")
    div(class="product-featured__header")
        span(class="product-featured__text") Товар недели
        h2(class="title product-featured__title") Вязаные корзинки
    div(class="product-featured__body")
        include ../../_blocks/product-description/product-description.pug
        
        div(class="product-featured__image-block")
            img(class="product-featured__img" src="images/product/knitted-baskets.jpg" srcset="images/product/knitted-baskets@2x.jpg" alt="Product")
