div(class="social-links")
    ul(class="social-links__list")
        li(class="social-links__item")
            a(href="#5" class="social-links__link")
                img(class="social-links__img" src="images/icons/insta.svg" alt="Social link")
        li(class="social-links__item")
            a(href="#5" class="social-links__link")
                img(class="social-links__img" src="images/icons/facebook.svg" alt="Social link")
        li(class="social-links__item")
            a(href="#5" class="social-links__link")
                img(class="social-links__img" src="images/icons/twitter.svg" alt="Social link")
