nav(class="banner-nav")
    ul(class="banner-nav__list")
        li(class="banner-nav__item")
            a(href="#5" class="banner-nav__link") Новые поступления
        li(class="banner-nav__item")
            a(href="#5" class="banner-nav__link") Распродажа
