div(class="product-description product-description--indent")
    p(class="product-description__text") Экологически чистая пряжа, ручная работа. Доступны в шести расцветках и трех размерах.
    include ../../_blocks/product-properties/product-properties.pug
