@import "../product-properties/product-properties.css";

.product-description {

    &--indent {
        @media (--S) {
            margin-bottom: 42px;
        }

        @media (--XS) {
            margin-bottom: 0;
        }
    }
    
    &__text {
        font-size: 17px;
        font-weight: 400;
        line-height: calc(30/17);
        color: #444444;
        max-width: 282px;
        margin-bottom: 50px;

        @media (--M) {
            margin-bottom: 38px;
        }

        @media (--S) {
            font-size: 15px;
            line-height: calc(24/15);
            max-width: 100%;
            margin-bottom: 19px;
        }
    }

    &__table {
        margin-bottom: 111px;
    }
}
