div(class="products products--indent")
    div(class="box")
        div(class="products__list")
            button(class="button button--no-border products__item")
                span(class="products__title") Предметы интерьера
                img(class="products__img" src="images/icons/interior.png" alt="Interior")
            button(class="button button--no-border products__item products__item--active")
                span(class="products__title") Детские игрушки
                img(class="products__img" src="images/icons/toys.png" alt="Toys")
