div(class="process-description")
    div(class="process-description__header")
        img(class="process-description__icon" src="images/icons/video.png" alt="Видео")
        p(class="process-description__title") Процесс производства
    p(class="process-description__text") По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
    button(class="button button--order button--order-product process-description__button") Сделать заказ
