div(class="product-properties")
    table(class="product-properties__table")
        tr(class="product-properties__row")
            td(class="product-properties__col") Цвет:
            td(class="product-properties__col") &laquo;Тиффани&raquo;/серый
        tr(class="product-properties__row")
            td(class="product-properties__col") Диаметр:
            td(class="product-properties__col") 25 см
        tr(class="product-properties__row")
            td(class="product-properties__col") Высота:
            td(class="product-properties__col") 15 см
    p(class="product-properties__cost") Цена: 990 руб.
    a(href="#5" class="button button--order product-properties__link") Заказать
